body {
    background-color: lightgrey;
}

#header {
    font-size: 50px;
    background-color: darkblue;
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    padding: 20px;
    text-align: center;
}

.list {
    background-color: darkslategray;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
    border-color: black;
    padding: 50px;
}

img {
    display: block;
    margin: 10px auto;
    max-width: 300px;
}